.Album {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  border: 4px solid black;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
}

.Album:hover {
  box-shadow: -5px -5px rgba(0,0,0,0.9);
  transform: rotateX(-12deg) rotateY(12deg);
}

.AlbumName {
  font-size: 22px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom:0px;
}

.Artist {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
}
.Cover {
  max-width: 100%;
}

.List {
  grid-template-columns: 50px 1fr;
  grid-gap: 20px;
  border: none;
  border-bottom: 1px solid black;
}
.List:last-child {
  border-bottom: none;
}

.List:hover {
  box-shadow: none;
  transform: none;
  background: #fafaff;
}

.List .Info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.List .Artist {
  text-align: right;
}