.Button {
  background: none;
  border: 4px solid black;
  color: black;
  font-weight: 700;
  padding: 10px 23px;
}

.Button:disabled {
  color: #ccc;
  border-color: #ccc;
  pointer-events: none;
}
.Button:hover,.Button:focus  {
  color: white;
  border-color: black;
  background: black;
}



@media (max-width: 812px) {
  .Button {
    padding: 5px 12px;
  }
}