:root {
  --light-blue: #4F99B8;
  --dark-blue: #002340;
  --brown: #6E4538;
}

.App {
  width: 100%;
}

Button, input {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* outline: dotted; */
  outline: none;
}

Button {
  cursor: pointer;
}